@import './variables';
@import './bootstrap';


@import '../src/views/layout/layout1';

$heightTopBar: 50px!default;
.layout-topbar {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    .info {
      float: right;
      display: flex;
      align-items: center;
      // margin: 0 20px 0 0;
      height: $heightTopBar;
      // line-height: $heightTopBar;
      em {
        padding: 0 10px;
        font-style: normal;
      }
      div {
        cursor: pointer;
      }
      div:first-child {
        margin: 0 10px 0 0;
      }
    }
    .route-list {
      a {
        color: lightgray;
        text-decoration: none;
        &.active {
          color: $primary;
        }
      }
    }
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;  
  #app {
    width: 100%;
    height: 100%;
    .app-main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      .viewer-ct-container {
        width: 100%;
        height: calc(100% - #{$heightTopBar});
      }
    }
  }
}

@import './page_index';

$widthToolbar: 30%;
.viewer-ct-container {
  display: flex;
  .content-view {
    width: calc(100% - #{$widthToolbar});
    height: 100%;
  }
  .content-toolbar {
    width: $widthToolbar;
    height: 100%;
    overflow-y: auto;
  }
}

@import './page_smile'
